<title>注册|{$site.title}</title>
{include file="common/header-top.html"}
<!-- 修改密码 -->
<form action="/index/user/doModifyPassword" method="post" novalidate="novalidate">
    <div class="grid grid-pad">
        <p>
            </p><h3>修改密码</h3>
        <p></p>
        <table class="tbl-user-edit">
            <tbody><tr>
                <td class="lt">当前密码：</td>
                <td>
                    <input class="txt" data-val="true" id="password" name="password" placeholder="当前密码" type="password">
                    <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        <span>您当前的密码是系统自动生成的，您可以不用输入旧密码，直接填入新密码即可。设置新密码后可以直接使用用户名和密码登录。</span>
                </td>
            </tr>
            <tr>
                <td class="lt">新密码：</td>
                <td>
                    <input class="txt" data-val="true" id="new_password" name="new_password" placeholder="新密码" type="password">
                    <span class="field-validation-valid" data-valmsg-for="new_password" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td class="lt">确认密码：</td>
                <td>
                    <input class="txt" data-val="true" id="confirm_password" name="confirm_password" placeholder="确认密码" type="password">
                    <span class="field-validation-valid" data-valmsg-for="confirm_password" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="txt btn-submit" type="submit" value="点击修改密码"></td>
            </tr>
        </tbody></table>
    </div>
</form>

{include file="common/search.html"}
