<title>{$title}|{$site.title}</title>
<link rel="stylesheet" href="/js/lib/imagezoom/jquery.imagezoom.css{$site.version}" />
<script type="text/javascript" src="/js/lib/imagezoom/jquery.imagezoom.min.js{$site.version}"></script>
{include file="common/header-top.html"}
<!-- 商品详情 -->
<div class="grid grid-pad-big tran-content product-detail">
    <div class="col-1-2 mobile-col-1-1 product-detail-left">
        <div class="product-img">
            <!-- 轮播 -->
            {if $shopRow.shop_imgs}
            <div class="box">
            <div class="tb-booth tb-pic tb-s310">
                <a href="//{$shopRow.img_show_first}">
                <img src="//{$shopRow.img_show_first}" rel="//{$shopRow.img_show_first}" class="jqzoom" />
                </a>
            </div>

            <ul class="tb-thumb" id="thumblist">
                {foreach from=$shopRow.img_show key =k item=s}
                <li class="{if $k < 1}tb-selected{/if}">
                <div class="tb-pic tb-s40">
                <a href="###"><img src="//{$s.small}" mid="//{$s.mid}" big="//{$s.big}"></a>
                </div>
                </li>
                {/foreach}
            </ul>
            </div>
            {/if}
        </div>
    </div>
    <div class="col-1-2 mobile-col-1-1 product-detail-right">
        <div class="product-title">
        {$shopRow.title}
        </div>
        <div class="product-go clearfix">
            <ul class="list-inline">
                <li class="price"> ≈ ￥{$shopRow.price}</li>
                <li class="redirect">
                <a class="js-redirect-to" rel="nofollow" href="javascript:void(0);">去购买</a>
                </li>
            </ul>
        </div>
        <div class="shop-info">
            <p>
                总分：{$shopRow.realy_score} （值得买）
            </p>
            <p>
                总销量：{$shopRow.sale_count}
                收藏数量：{$shopRow.fav_count}
                评论数量：{$shopRow.rate_count}
                <br/>
            </p>
            <p>
                服务保障：正品保证（）、按时发货（）、极速退款（）、运费险（）、七天无理由退换（）<br/>
                服务分：描述（{$shopRow.score_miaoshu}）、服务（{$shopRow.score_fuwu}）、物流（{$shopRow.score_wuliu}）
            </p>
            <p>
                开张时间<a href="/">{$shopRow.shop_name}</a>
            </p>
            <p>总分：</p>
            <p></p>
        </div>
        <div class="other-product">
            <p>
                店内推荐商品
            </p>
            <ul class="list-inline">
                    <li>
                        <a id="mc_rpList_hlr_0" title="iam定制款 纯色简约圆领短袖t恤宽松 休闲百搭纯棉T恤韩特价现货" href="http://www.haodian8.com/huo/5467601"><img class="img-responsive" src="/img/TB1ydhgLVXXXXXUaXXXXXXXXXXX_!!0-item_pic.jpg_160x160.jpg" alt=""></a>
                    </li>
            </ul>
        </div>
    </div>


</div>
<script type="text/javascript">
$(document).ready(function(){

    $(".jqzoom").imagezoom();
    
    $("#thumblist li a").click(function(){
        $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
        $(".jqzoom").attr('src',$(this).find("img").attr("mid"));
        $(".jqzoom").attr('rel',$(this).find("img").attr("big"));
    });

});
</script>
{include file="common/search.html"}

