<title>{$site.name}|{$site.title}</title>
{include file="common/header-top.html"}
{include file="modules/Index/index-voucher.html"}
<div class="wrapper clearfix">
    <p class="line-title">热门商品</p>
</div>
<div class="wrapper index-cat clearfix">
    {include file="common/type.html"}
</div>

<!-- 热门商品 -->
<div class="grid grid-big grid-pad-big shop-list">
    

    {foreach from=$shopList item=s}
    <div class="col-1-5 mobile-col-1-2 product-item">
        <div class="product-img">
            <a title="{$s.title}" target="_blank" href="/index/index/detail/id/{$s.id}">
            <img class="lazy img-responsive" data-original="{$s.first_img}" />
            </a>

        </div>
        <div class="product-title">
            <p>
                <a target="_blank" href="/index/index/detail/id/{$s.id}">{$s.title}</a>
            </p>
        </div>
        <div class="product-price">
            <p>¥{$s.price}</p>
        </div>
    </div>
    {/foreach}
</div>

{include file="common/search.html"}
{include file="common/foot-bar.html"}

