<title>{$title}|{$site.title}</title>
{include file="common/header-top.html"}
<div class="wrapper clearfix">
    <p class="line-title">
        <span>热门商品</span>
    </p>
</div>
<div class="wrapper index-cat clearfix js-product-cat">
    {include file="common/type.html"}
</div>

<div class="wrapper grid-pad-big product-list grid-big">

    {foreach from=$shopList key=pk item=s}
    <div class="col-1-5 mobile-col-1-2 product-item">
        <div class="product-img">
            <a title="{$s.title}" target="_blank" href="/index/index/detail/id/{$s.id}">
            <img class="lazy img-responsive" data-original="{$s.first_img}" />
            </a>

        </div>
        <div class="product-title">
            <p>
                <a target="_blank" href="/index/index/detail/id/{$s.id}">{$s.title}</a>
            </p>
        </div>
        <div class="product-price">
            <p>¥{$s.price}</p>
        </div>
    </div>
    {/foreach}

    {include file="common/page.html"}
</div>
{include file="common/search.html"}
{include file="common/foot-bar.html"}
