<title>注册|{$site.title}</title>
{include file="common/header-top.html"}
<!-- 注册 -->
<form action="/index/user/doRegister" method="post" novalidate="novalidate">
<div class="wrapper page-account">
        <h1>- 注册 {$site.name} -</h1>
        <div class="page-account-content">
            <div class="page-account-content-left float-left">
                <table>
                    <tbody><tr>
                        <td>
                            <input class="txt" id="user_name" name="user_name" placeholder="用户名" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="user_name" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="txt" id="email" name="email" placeholder="Email 地址" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="txt" id="password" name="password" placeholder="密码" type="password">
                            <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="txt btn-submit" type="submit" value="注册">
                        </td>
                    </tr>
                </tbody></table>
            </div>
            <div class="page-account-content-right float-right">
                <a class="first" href="javascript:alert('即将开放！');"><i class="iconfont taobao"></i>使用淘宝账号登录</a>
                <a href="javascript:alert('即将开放！');"><i class="iconfont weibo"></i>使用微博账号登录</a>
                <a href="javascript:alert('即将开放！');"><i class="iconfont qq"></i>使用QQ账号登录</a>
            </div>
        </div>
        <div class="page-account-more">
            <p>
                已经有一个账号了？<a href="/index/user/login">请登录</a>
            </p>
        </div>
    </div>
</form>

{include file="common/search.html"}
