<div class="wrapper site-header clearfix">
    <div class="float-left site-logo">
        <a href="/"><img id="logo-img" alt="" src="/img/logo.png" width="76" height="21"></a>
    </div>
    <div class="float-right site-account">
        {if !isset($smarty.session.user)}
        <div class="float-left site-login">
            <a class="white" href="/index/user/login" style="height: 32px;">登录</a>
        </div>
        <div class="float-right site-register">
            <a class="white" href="/index/user/register" style="height: 32px;">注册</a>
        </div>
        {else}
        <div class="float-right site-register site-my-account" style="min-width:120px;text-align:center;">
            <a class="white" href="javascript:void(0);" style="height: 46px;">
            {$smarty.session.user.user_name}
            <i class="iconfont"> </i>
            </a>
            <div class="nav-user-backend">
                <ul>
                    <li><a href="/index/user/myInfo" style="height: 32px;">个人资料</a></li>
                    <li><a href="/index/user/modifyPasswd" style="height: 32px;">修改密码</a></li>
                    <li><a href="/index/user/logout" style="height: 32px;">登出</a></li>
                </ul>
            </div>
        </div>
        {/if}
    </div>
    <div class="float-left site-nav">
        <ul class="list-inline">
            <li class="site-nav-item"><a href="/index/index/list/type/hot">薅羊毛</a></li>
            <li class="site-nav-item"><a href="/index/index/list/type/hot">热门商品</a></li>
            <li class="site-nav-item site-nav-item-mega">
                <a href="javascript:void(0);">全部商品
                <i class="iconfont"> </i>
                </a>
                <div class="mega-nav">
                    <ul class="list-block">
                        <li class="title">热门</li>
                        {foreach from=$typeList key=pk item=pv}
                        {if $pk < 5}
                        <li><a href="/index/index/list/type/{$pv.tid}">{$pv.name}</a></li>
                        {/if}
                        {/foreach}
                    </ul>
                    <ul class="list-block">
                        <li class="title">其他</li>
                        {foreach from=$typeList key=pk item=pv}
                        {if $pk >=5}
                        <li><a href="/index/index/list/type/{$pv.tid}">{$pv.name}</a></li>
                        {/if}
                        {/foreach}
                    </ul>
                </div>
            </li>
            <li class="site-nav-item mobile-search-icon">
            <a href="javascript:void(0);">
            <i class="iconfont">  </i>
            </a>
            </li>
        </ul>
    </div>
    <div class="float-left site-search">
        <span>
        <i class="iconfont">  </i>
        <input readonly="readonly" type="text" placeholder="点击搜索..."></span>
    </div>

</div>
