<!DOCTYPE html>
<html lang="zh-CN" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{$site.keywords}">
    <meta name="description" content="{$site.description}">
    <!-- <title>{$site.name}|{$site.title}</title> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css{$site.version}" />
    <link rel="stylesheet" href="/css/css.css{$site.version}" />
    <link rel="stylesheet" href="/css/index.css{$site.version}" />
    <script type="text/javascript" src="/js/lib/jquery.1.12.4.min.js{$site.version}"></script>
    <script type="text/javascript" src="/js/lib/jquery.hoverIntent.js{$site.version}"></script>
    <script type="text/javascript" src="/js/lib/layer/layer.js{$site.version}"></script>
    <script type="text/javascript" src="/js/lib/jquery.lazyload.js{$site.version}"></script>
    <script type="text/javascript" src="/js/lib/jquery.scrollstop.min.js{$site.version}"></script>
    
</head>
<body>
