<div class="search-box">

    <h3 class="clearfix">搜索商品：</h3>
    <form action="/index/index/search" method="get">
    <input class="txt" id="s" name="s" placeholder="输入搜索关键字..." type="text" value="">
    <input id="r" name="r" type="hidden" value="0">
    <button class="btn-search btn-submit"><i class="iconfont">  </i></button>
    </form>
    <h3 class="clearfix h3-hot-keyword">热搜关键字：</h3>
    <div class="hot-keyword">
        <ul class="list-inline">
            <li><a href="/index/index/search/keywords/1">奶粉</a></li>
        </ul>
    </div>
</div>
